html, body {
    margin: 0;
}

nav {
    display: flex;
    background-color: gray;
    justify-content: center;
}

nav > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    opacity: 0.3;
}

nav > div:hover {
    background-color: grey;
    opacity: 0.6;
    cursor: pointer;
}

nav > div:active {
    background-color: grey;
    opacity: 1;
}

.hide-page {
    display: none;
}

footer {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 50%;
}

.flex-container > div > h3 {
    background-color: grey;
    margin: 10px;
    padding: 20px;
}

.flex-container > div > article {
    margin: 10px;
    padding: 20px;
}