.kanban {
  display: flex;
  flex-flow: row wrap;
}

.kanban_item {
  flex: 1 1 auto;
  width: 300px;
  background-color: white;
  padding: 8px;
  border: 1px solid #dee2e6;
  margin-right: 8px;
  margin-top: 8px;
}

.kanban_ghost {
  visibility: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  height: 0;
  min-height: 0 !important;
}

.kanban_image {
  float: left;
  width: 64px;
}

.image_64_contain {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.kanban_details {
  padding-left: 72px;
}
